<div class="login-form">
    <div class="seperator"><b>or</b></div>
    <p>Sign in with your social media account</p>
    <!-- Social login buttons -->
    <div class="social-icon">
    
        <a style="color: white;text-decoration: none" href="{% url 'social:begin' 'google-oauth2' %}"> <button type="button"><i class="fa fa-google"></i></i></button></a>
    
        <a style="color: white;text-decoration: none" href="{% url 'social:begin' 'facebook' %}"> <button type="button"><i class="fa fa-facebook"></i></button></a>
    
        <a style="color: white;text-decoration: none" href="{% url 'social:begin' 'twitter' %}"> <button type="button"><i class="fa fa-twitter"></i></button></a>
    
        <a style="color: white;text-decoration: none" href="{% url 'social:begin' 'github' %}"><button type="button"><i class="fa fa-github"></i></button></a>
    
    </div>
    </div>