{% extends 'core/base.html' %}
{% load static %}
{% load custom_tag %}

{% block title %}Techster{% endblock title %}

{% block content %}

    <div class="container m-auto">

        <!--<h1 class="lg:text-2xl text-lg font-extrabold leading-none text-gray-900 tracking-tight mb-5"> Feed </h1>--->

        <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">

            <!-- left sidebar-->
            <div class="space-y-5 flex-shrink-0 lg:w-7/12 infinite-container">

                <!-- post 1-->
            
              

                <div id="{{post.id}}" class="bg-white shadow rounded-md  -mx-2 lg:mx-0 infinite-item">

                    <!-- post header-->
                    <div class="flex justify-between items-center px-4 py-3">
                        <div class="flex flex-1 items-center space-x-4">
                            <a href="#">
                                <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">  
                                    <img src="{{ post.user_profile.image_url}}" class="bg-gray-200 border border-white rounded-full w-8 h-8">
                                </div>
                            </a>
                            
                            <a href="{% url 'profile' post.user %}"><span class="block capitalize font-semibold "> {{post.user}} </span></a>
                        </div>

                      <div>
                        <a href="#"> <i class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition -mr-1 "></i> </a>
                        <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100" uk-drop="mode: hover;pos: top-right">

                            <ul class="space-y-1">
                                <li> 

                                      {% comment %} Share {% endcomment %}
                                  <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md ">
                                      <div style="cursor: pointer;" class="p-2 rounded-full text-black">
                                          <i class="fa-solid fa-share-nodes"></i>
                                    </div>
                                <span>Share</span>
                                      </a> 
                                </li>


                                {% if post.user == request.user %}
                                <li> 
                                  {% comment %} Edit Post {% endcomment %}
                                    <a href="{% url 'edit_post' post.id %}" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md ">

                                      <div style="cursor: pointer;" class="p-2 rounded-full text-black">
                                          <i class="fa-solid fa-pen-to-square"></i>
                                      </div>
                                      <span> Edit Post </span>
                                     
                                    </a> 
                                </li>
                           
                                <li> 
                                    <a id="disable-comment#{{post.id}}" href="#" class="disable-comments flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md ">


                                        {% if post.is_comment_disabled %}

                                        <div style="cursor: pointer;" class="p-2 rounded-full text-black">
                                            <i class="fa-solid fa-comment"></i>
                                   
                                        </div>
                                        <span>Enable</span>
        
                                        
                                        {% else %}
               
        
                                        <div style="cursor: pointer;" class="p-2 rounded-full text-black">
                                            <i class="fa-solid fa-comment-slash"></i>  
                                   
                                        </div>
                                        <span>Disable</span>
        
                                        {% endif %}
                                    </a>

                                </li> 
                                {% endif %}

                                <li> 
                                    {% comment %} Add Favorites {% endcomment %}
                                    <a id="favorites#{{post.id}}" href="#" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md favorites">

                                    <div style="cursor: pointer;" class="p-2 rounded-full text-black ">
                                  {% is_favorites_icon request.user post.id%}
                                      
                                      </div>

                              <span>{% is_favorites request.user post.id%}</span>


                                    </a> 
                                </li>

                                {% if post.user == request.user %}
                                <li>
                                  <hr class="-mx-2 my-2 ">
                                </li>

                                <li> 
                                    <button onclick="hideDropdown()" type="button" href="#" data-modal-toggle="defaultModal" class="w-full flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md ">
                                     <i class="uil-trash-alt mr-1"></i>  Delete
                                    </button> 
                                </li>

                                {% endif %}
                              </ul>


                        
                        </div>
                      </div>
                    </div>

                        <!-- Delete modal -->
<div id="defaultModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-3/12 md:inset-0 h-modal md:h-2/4">
<div class="relative p-4 w-3/12 max-w-2xl h-2/4 md:h-auto">
<!-- Modal content -->
<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
    <!-- Modal header -->
    <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            Are you sure you want to delete?
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
        </button>
    </div>

    <!-- Modal footer -->
    <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
        <button id="delete#{{post.id}}" data-modal-toggle="defaultModal" type="button" class="delete text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Delete</button>
        <button data-modal-toggle="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancel</button>
    </div>
</div>
</div>
</div>

                    <div uk-lightbox>
                        <a href="{{post.image_url}}">  
                            <img src="{{post.image_url}}" alt="">
                        </a>
                    </div>
                    

                    <div class="py-3 px-4 space-y-3"> 
                       
                        <div class="flex space-x-4 lg:font-bold">
                            <a class="flex items-center space-x-2">

                                {% comment %} Like Post {% endcomment %}
                        
                                <div id="{{post.id}}" style="cursor: pointer;" class="p-2 rounded-full text-black like">
                                    {%  liked_by_user_icon request.user post.id %}
                                </div>
                            <span id="like#{{post.id}}">{%  liked_by_user request.user post.id %}</span>
                            
                            </a>
                            <a class="flex items-center space-x-2">
                                <div class="p-2 rounded-full text-black">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                        <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd" />
                                    </svg>  
                                </div> <span id="commentsCount">{{ post.comments.all.count }}</span>
                                
                            </a>
                            <a href="#" class="flex items-center space-x-2 flex-1 justify-end">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v6h-2a.5.5 0 0 0-.354.854l2.5 2.5a.5.5 0 0 0 .708 0l2.5-2.5A.5.5 0 0 0 10.5 7.5h-2v-6z"/></g></svg> 
                                
                            </a>
                        </div>
                        <div class="flex items-center space-x-3"> 
                            <div class="flex items-center">
         
                            </div>

                        </div>

                        {% if misc == 'edit_post' %}

             

                        <form method="post"> {% csrf_token %}

                            {{ form.caption }}

                            {% comment %} <textarea type="text" class="mt-5" name="caption" id="captions" placeholder="Post Caption"  cols="30" rows="10"></textarea> {% endcomment %}

                            <div uk-form-custom class="mt-5">
                                <input  type="submit">
                                
                            </div>
                        </form>

     
                          {% else %}

                          <p> {% replace_hash post.caption %} </p>

                          {% if post.is_comment_disabled is not True %}
                          <div class="bg-gray-100 bg-gray-100 rounded-full rounded-md relative ">
    
    
                            <form method="post"> {% csrf_token %}
    
                            <input oninvalid="this.setCustomValidity('Enter atleast 2 characters')" required id="comment#{{post.id}}" name="comment" minlength="2" type="text" placeholder="Post a comment" class="bg-transparent max-h-10 shadow-none">
    
                            <div class="absolute bottom-0 flex h-full items-center right-0 right-3 text-xl space-x-2">
    
                            <input type="hidden" name="post" value="{{post.id}}">
                                
                               <button class="post-comment comment-form" id="post#{{post.id}}">Send</button>
    
                            </form>
        
                            </div>
               
                        </div>
                        {% endif %}

                        <div class="comments-container_{{post.id}} border-t pt-4 space-y-4 ">

                
                            {% comment %} Comments start {% endcomment %}

                            {% for comment in comments  %}

                            <div id="commentbox#{{comment.id}}" class="flex comment-box">
                                
                                <div class="w-10 h-10 rounded-full relative flex-shrink-0">
                                    <img src="{% get_profile_image comment.user %}" alt="" class="absolute h-full rounded-full w-full">
                                </div>
                                <div class="w-full text-gray-700 py-2 px-3 rounded-md bg-gray-100 h-full relative lg:ml-5 ml-2 lg:mr-20 ">

                                
                           <div>   {% replace_hash comment.comment %} 

                            
                            <i id="comment#{{comment.id}}" style="cursor: pointer;" class="comment fa-solid fa-thumbs-up"> 
                             </i> 

                             <span id="commentlike#{{comment.id}}"> {{ comment.comment_like.all.count}}</span>

                             {% if request.user == comment.user %}
                            
                             <i id="deletecomment#{{comment.id}}" style="cursor: pointer;" class="right-2 absolute deletecomment fa-solid fa-trash"></i>
                    

                             {% endif %}
                        </div>

           

                                <div class="absolute w-3 h-3 top-3 -left-1 bg-gray-100 transform rotate-45 "></div>


                                
                                </div>


                            </div>

                          {% endfor %}
                            
                      </div>

                        {% endif %}

                    </div>

                </div>


            </div>

            <!-- right sidebar-->
            <div class="lg:w-5/12">

                <div class="bg-white  shadow-md rounded-md overflow-hidden">

                    <div class="bg-gray-50  border-b border-gray-100 flex items-baseline justify-between py-4 px-6 ">
                        <h2 class="font-semibold text-lg">Users You Can Follow</h2>
                     
                    </div>

                    {% if users_to_follow|length_is:"0" %}


                    <div class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4 ">
                        <div class="flex items-center justify-between py-3">
                            <div class="flex flex-1 items-center space-x-4">
                                No users available to follow right now
                           </div></div></div>
    
                           {% else %}
                   
                    {% for user_profile in users_to_follow %}
    
                   
                    <div class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4 ">
                        <div class="flex items-center justify-between py-3">
                            <div class="flex flex-1 items-center space-x-4">
                                <a href="profile.html">
                                    <img src="{{user_profile.image_url}}" class="bg-gray-200 rounded-full w-10 h-10">
                                </a>
                                <div class="flex flex-col">
                                    <a href="{% url 'profile' user_profile.user %}"><span class="block capitalize font-semibold"> {{user_profile.user}} </span></a>
                                    <span id="followcount#{{user_profile.user}}" class="block capitalize text-sm"> {{user_profile.followers.all.count }} followers</span>
                                </div>
                            </div>
                            
                            <a href="#" id="follow#{{user_profile.user}}" class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600 follow"> {% is_following request.user user_profile.user %} </a>
                        </div> 
                    </div>
    
                    {% endfor %}
    
                    {% endif %}

                    {% comment %}  End Users to Follow  {% endcomment %}

                </div>

              

            </div>

        </div>               
  

    </div>

</div>

</div>

{% endblock content %}