<!DOCTYPE html>
{% load static %}
{% load custom_tag %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user}}</title>
      <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css">

<link rel="stylesheet" href="{% static 'css/progress.css' %}">

<style>
    .pb-full {
        padding-bottom: 100%;
      }
      
      /* hide search icon on search focus */
      .search-bar:focus + .fa-search{
        display: none;
      }
      
      @media screen and (min-width: 768px) {
        .post:hover .overlay {
          display: block;
        }
      }
      
</style>
</head>

<body>

<!-- nav -->
<nav class="border-b px-4 py-2 bg-white">
    <form action="{% url 'search_user' %}" method="get">
    <div class="flex flex-wrap items-center justify-between md:justify-around">
      <!-- logo -->
      
  <a href="{% url 'home' %}"><img width="25px" height="25px" src="{% static 'img/favicon.png' %}" alt="instagram"></a>

      <!-- search-->
    
      <div class="relative hidden sm:block text-gray-500">
        <input name="q" class="search-bar max-w-xs border rounded bg-gray-200 px-4
              text-center outline-none focus:border-gray-400" type="search" placeholder="Search">

      </div>

     <button type="submit"> <i style="margin-left: -33rem;margin-top: -7.75px;" class="fa fa-lg fa-search absolute mt-1"></i></button>

  

    </div>

</form>
  </nav>
  
  <main class="bg-gray-100 bg-opacity-25">
  
    <div class="lg:w-8/12 lg:mx-auto mb-8">
  
      <header class="flex flex-wrap items-center p-4 md:py-8">
  
        <div class="md:w-3/12 md:ml-16">
          <!-- profile image -->
          <img class="w-20 h-20 md:w-40 md:h-40 object-cover rounded-full
                       border-2 border-pink-600 p-1" src="{{profile.image_url}}" alt="profile">
        </div>
  
        <!-- profile meta -->
        <div class="w-8/12 md:w-7/12 ml-4">
          <div class="md:flex md:flex-wrap md:items-center mb-4">
            <h2 class="text-3xl inline-block font-light md:mr-2 mb-2 sm:mb-0">
                {{user}}
            </h2>
  
            <!-- follow button -->

            {% if profile.user == request.user %}
    
            <a class="pl-3 inline-block text-blue-500 font-semibold text-sm" href="{% url 'edit_profile' %}">Edit Profile</a>

             {% else %}

             <a id="follow#{{profile.user}}" href="#" class="follow bg-blue-500 px-2 py-1 
             text-white font-semibold text-sm rounded block text-center 
             sm:inline-block block">{% is_following request.user profile.user %}</a>

               {% endif %}



          </div>
  
          <!-- post, following, followers list for medium screens -->
          <ul class="hidden md:flex space-x-8 mb-4">
            <li>
              <span class="font-semibold">{{posts.count}}</span>
              posts
            </li>
  
            <li {% if profile.followers.all.count == 0 %} 

            {% else %}
            
            data-modal-toggle="followersModal" style="cursor: pointer;"       {% endif %} >
              <span id="followcount#{{profile.user}}" class="font-semibold">{{profile.followers.all.count}} </span> 
              followers
          
            </li>


            <li           {% if profile.following.all.count == 0 %} 

            {% else %}
            
            data-modal-toggle="followingModal" style="cursor: pointer;"       {% endif %}>
      
              <span class="font-semibold">{{profile.following.all.count}} </span> 
              following
            </li>
          </ul>
  
          <!-- user meta form medium screens -->
          <div class="hidden md:block">
          
            <p>{% if profile.bio %}{{profile.bio}}{% endif %}</p>
          </div>
  
        </div>
  
        <!-- user meta form small screens -->
        <div class="md:hidden text-sm my-2">
          <p>{% if profile.bio %}{{profile.bio}}{% endif %}</p>
        </div>
  
      </header>


  
      <!-- posts -->
      <div class="px-px md:px-3">
  
        <!-- user following for mobile only -->
        <ul class="flex md:hidden justify-around space-x-8 border-t 
                  text-center p-2 text-gray-600 leading-snug text-sm">
          <li>
            <span class="font-semibold text-gray-800 block">{{posts.count}}</span>
            posts
          </li>

  
          <li style=" cursor: pointer;" 
          {% if profile.followers.all.count == 0 %} 

          {% else %}
          
          data-modal-toggle="followersModal">
          {% endif %}
            <span id="followcount#{{profile.user}}" class="font-semibold text-gray-800 block">{{profile.followers.all.count}}</span>
            followers
          </li>

     

          <li           {% if profile.following.all.count == 0 %} 

          {% else %}
          
          data-modal-toggle="followingModal"          {% endif %}>
 
            <span class="font-semibold text-gray-800 block">{{profile.following.all.count}} </span>
            following
       
          </li>
        </ul>
  
        <!-- insta freatures -->
        <ul class="flex items-center justify-around md:justify-center space-x-12  
                      uppercase tracking-widest font-semibold text-xs text-gray-600
                      border-t">
          <!-- posts tab is active -->
          {% if misc == 'Posts' %}
    
          <li class="md:border-t md:border-gray-700 md:-mt-px md:text-gray-700">

            {% else %}
            <li>
            {% endif %}

            {% if profile.user == request.user %}
            <a class="inline-block p-3" href="{% url 'profile' request.user %}">

              {% else %}
              <a class="inline-block p-3" href="#">
          {% endif %}
              <i class="fas fa-th-large text-xl md:text-xs"></i>
              <span class="hidden md:inline">post</span>
            </a>
          </li>


          {% if profile.user == request.user %}

          {% if misc == 'Favorites' %}
    
          <li class="md:border-t md:border-gray-700 md:-mt-px md:text-gray-700">

            {% else %}
            <li>
            {% endif %}
            <a class="inline-block p-3" href="{% url 'favorite_view' %}">
              <i class="far fa-square text-xl md:text-xs"></i>
              <span class="hidden md:inline">Saved</span>
            </a>
          </li>




          {% endif %}





        </ul>
        {% if posts|length == 0 %}

        <h1 class="py-8 text-4xl" style="text-align: center !important;">No {{misc}} available</h1>
        
            {% else %}
        <!-- flexbox grid -->
        <div class="flex flex-wrap -mx-px md:-mx-3">
  



            {% for post in posts %}
          <!-- column -->
          <div class="w-1/3 p-px md:px-3">
            <!-- post 1-->
            <a href="{% url 'post_detail' post.id %}">
              <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
                <!-- post image-->
                <img class="w-full h-full absolute left-0 top-0 object-cover" src="{{post.image_url}}" alt="image">
  
                <i class="fas fa-square absolute right-0 top-0 m-1"></i>
                <!-- overlay-->
                <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                  left-0 top-0 hidden">
                  <div class="flex justify-center items-center 
                                      space-x-4 h-full">
                    <span class="p-2">
                      <i class="fas fa-heart"></i>
                      {{post.likes.all.count}}
                    </span>
  
                    <span class="p-2">
                      <i class="fas fa-comment"></i>
                      {{post.comments.all.count}}
                    </span>
                  </div>
                </div>
  
              </article>
            </a>
          </div>

          {% endfor %}

          {% endif %}
  
        </div>
      </div>
    </div>

    {% comment %} follow modals {% endcomment %}

    <!-- Modal -->


<!-- Followers Modal toggle -->

<div id="followersModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    {{profile.user}} followers
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="followersModal">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                </button>
            </div>
            <!-- Modal body -->

<main>


  <div class="">

    <div class="bg-white  shadow-md rounded-md overflow-y-auto ">

        {% comment %}  Followers {% endcomment %}

        {% for user_profile in profile.followers.all %}

        {% is_following request.user user_profile as is_following %}

       {% if is_following == 'Following'%}
        <div class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4 ">
            <div class="flex items-center justify-between py-3">
                <div class="flex flex-1 items-center space-x-4">
                    <a href="#">
                        <img src="{% get_profile_image user_profile%}" class="bg-gray-200 rounded-full w-10 h-10">
                    </a>
                    <div class="flex flex-col">
                        <a href="{% url 'profile' user_profile %}"><span class="block font-semibold"> {{user_profile}} </span></a>
                        <span  id="followcount#{{user_profile}}" class="follow-m text-sm"> {{user_profile.following.all.count }} followers</span> 
                    </div>
                </div>
                
                <a href="#" id="follow#{{user_profile}}" class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600 follow"> {% is_following request.user user_profile %} </a>
            </div> 
        </div>
        {% endif %}

        {% endfor %}

        {% comment %} Non Followers {% endcomment %}

        {% for user_profile in profile.followers.all %}

        {% is_following request.user user_profile as is_following %}

       {% if is_following == 'Follow'%}
        <div class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4 ">
            <div class="flex items-center justify-between py-3">
                <div class="flex flex-1 items-center space-x-4">
                    <a href="#">
                        <img src="{% get_profile_image user_profile%}" class="bg-gray-200 rounded-full w-10 h-10">
                    </a>
                    <div class="flex flex-col">
                        <a href="{% url 'profile' user_profile %}"><span class="block font-semibold"> {{user_profile}} </span></a>
                        <span  id="followcount#{{user_profile}}" class="follow-m text-sm"> {{user_profile.following.all.count }} followers</span> 
                    </div>
                </div>
                
                <a href="#" id="follow#{{user_profile}}" class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600 follow"> {% is_following request.user user_profile %} </a>
            </div> 
        </div>
        {% endif %}

        {% endfor %}
 

        {% comment %}  End Users to Follow  {% endcomment %}

    </div>

  

</div>


</main>

        </div>
    </div>
</div>

<!-- Following modal -->


<div id="followingModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center">
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                  {{profile.user}} Following
              </h3>
              <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="followingModal">
                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
              </button>
          </div>
          <!-- Modal body -->

<main>


<div class="">

  <div class="bg-white  shadow-md rounded-md overflow-y-auto ">

      {% comment %}  Followers {% endcomment %}

      {% for user_profile in profile.following.all %}

      {% is_following request.user user_profile as is_following %}

     {% if is_following == 'Following'%}
      <div class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4 ">
          <div class="flex items-center justify-between py-3">
              <div class="flex flex-1 items-center space-x-4">
                  <a href="#">
                      <img src="{% get_profile_image user_profile%}" class="bg-gray-200 rounded-full w-10 h-10">
                  </a>
                  <div class="flex flex-col">
                      <a href="{% url 'profile' user_profile %}"><span class="block font-semibold"> {{user_profile}} </span></a>
                      <span  id="followcount#{{user_profile}}" class="follow-m text-sm"> {{user_profile.following.all.count }} followers</span> 
                  </div>
              </div>
              
              <a href="#" id="follow#{{user_profile}}" class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600 follow"> {% is_following request.user user_profile %} </a>
          </div> 
      </div>
      {% endif %}

      {% endfor %}

      {% comment %} Non Followers {% endcomment %}

      {% for user_profile in profile.following.all %}

      {% is_following request.user user_profile as is_following %}

     {% if is_following == 'Follow'%}
      <div class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4 ">
          <div class="flex items-center justify-between py-3">
              <div class="flex flex-1 items-center space-x-4">
                  <a href="#">
                      <img src="{% get_profile_image user_profile%}" class="bg-gray-200 rounded-full w-10 h-10">
                  </a>
                  <div class="flex flex-col">
                      <a href="{% url 'profile' user_profile %}"><span class="block font-semibold"> {{user_profile}} </span></a>
                      <span  id="followcount#{{user_profile}}" class="follow-m text-sm"> {{user_profile.following.all.count }} followers</span> 
                  </div>
              </div>
              
              <a href="#" id="follow#{{user_profile}}" class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600 follow"> {% is_following request.user user_profile %} </a>
          </div> 
      </div>
      {% endif %}

      {% endfor %}


      {% comment %}  End Users to Follow  {% endcomment %}

  </div>



</div>


</main>

      </div>
  </div>
</div>




  </main>
  <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
  <script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="/static/js/comments.js"></script>
</body>
</html>